package templates

templ Hello(title string,name string) {
	@layout(title) {
		<div class="text-red-950 text-4xl font-bold flex justify-center flex-col items-center h-screen w-screen">
			<div>
				Hello, { name }
			</div>
		</div>
	}
}
